table tr td{font-size:13px;}

.border_right_none{border-right:none;}

a{text-decoration: none;}

.tooltip{font-size: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;vertical-align: middle;}