<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="cn.ysu.auth.dao.AuthorityDao">
  
    <resultMap id="AuthorityMapper" type="AuthorityModel">   
        <id property="id" column="id" />   
        <result property="moduleName" column="module_name" />
        <result property="moduleOrder" column="module_order" />
        <result property="remark" column="remark" />
        <result property="byzd1" column="byzd_1" />
        <result property="byzd2" column="byzd_2" />
        <result property="byzd3" column="byzd_3" />
    </resultMap>   
       
    <select id="selectById" resultMap="AuthorityMapper">   
        select * from tbl_auth_module where id = #{id}
    </select> 
    
</mapper>